
<div class="row">
	<div class="large-12 columns">
		<h3><small>Параметры поиска.</small></h3>
	</div>
		<%= form_tag(send_leftovers_path, method: "post") do %>	
			<div class="row">	
				    <div class="large-2 columns">
				    <h5>Дата остатков:</h5>
				    </div>
				    <div class="large-5 columns select-date-wrapper">
						<%= select_date(Date.today-1.day, {prefix: :start_date}, { :class => "select-date" }) %>
				    </div>
			</div>
		  	<%= submit_tag("Отправить", class: "button" ) %>
	<% end %>
</div>
