// Place all the styles related to the Partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hover_color {
	background-color: #ffff00 !important;
}

.click_color { 
    background-color: #90ee90 !important; 
}
.alternate_color { 
    background-color: #f5f5dc; 
}