<%# add navigation links to this file %>
    <li class="name"><%= link_to 'Заказы на перемещение', stocks_list_path %></li>
    <li class="name"><%= link_to 'Заявки на реализацию', invoices_list_path %></li>
    <li class="name"><%= link_to 'Сверка остатков', leftovers_send_path %></li>